html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 0;
  background: #000 !important;
  color: #FFF !important;
  font-family: 'PingFang SC', 微软雅黑, 黑体, Microsoft YaHei, SimHei, 'Open Sans', sans-serif !important;
}

a {
  font-family: inherit;
}
