:root {
  --color-green: #00AF7C;
  --color-yellow: rgba(255, 199, 61, 1);
  --color-red: #FF2A70;
  --color-pink: #C93E6C;
  --green-background: rgba(0, 175, 124, .15);
  --green-background-dark: rgba(0, 175, 124, .1);
  --color-base: #FFF;
  --color-content: rgba(255, 255, 255, .8);
  --color-des: rgba(255, 255, 255, .3);
  --border-common: 1px solid #202020;
}
